name: Update OpenWrt Packages
on: 
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
  - cron: 0 */8 * * *

env:
  TZ: Asia/Shanghai

jobs:
  Update_OpenWrt_Packages:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@main

      - name: Setup Python 3.9.x
        uses: actions/setup-python@main
        with:
          python-version: '3.9.x'

      - name: Install Dependencies
        run: |
          sudo timedatectl set-timezone "$TZ"
          python -m pip install --upgrade pip
          pip install -U GitPython

      - name: Update OpenWrt Packages
        id: update
        run: |
          python packages.py
          rm -rf __pycache__
          echo "message=$(Updated at $(date))" >> $GITHUB_OUTPUT

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: ${{ steps.update.outputs.message }}
          
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 2